<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"><i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <%= image_tag('ic_icon_logo_nav.png', :style => "width: auto; height: 40px; margin-top: -6px;") %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#process">Process</a>
        </li>
        <li>
          <a class="page-scroll" href="#protfolio">Student Portfolio</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
        <li>
          <!-- TODO:신청하기 버튼 넣기 -->
          <a class="page-scroll" href="#apply"><div class="btn-apply text-center">신청하기</div></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="intro-wrap-container">
      <div class="container">
        <%= image_tag('ic_icon_logo.png', :style => "width:auto; height:76px; margin-bottom: 20px; margin-top: 8px") %>
        <p class="custom-text"> <span>20대</span>를 위한 <span>20대</span>의 감각 </p>
        <a href="#apply" class="btn btn-round-rectangle page-scroll">
          <p style="font-size: 10pt !important; margin-top: -3px;">지금 바로 신청하기</p>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="row">
    <div class="container">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="custom-text" style="margin-bottom: 80px">20대를 위한, <span>TAB</span></p>
        <p class="custom-text-content"><span>탭</span>은 디자인과 개발을 배우는 학생과 꿈을 펼쳐가는 스타트업이 만날 수 있도록 돕는 아웃소싱 커뮤니티입니다.</p>
      </div>
    </div>
  </div>
</section>

<section class="about-detail content-section text-center">
  <div class="row">
    <div class="container">
      <p class="custom-text"><span>당신은</span> 누구신가요?</p>
      <div class="col-lg-4">
        <a href="#">디자이너</a>
      </div>
      <div class="col-lg-4">
        <a href="#">개발자</a>
      </div>
      <div class="col-lg-4">
        <a href="#">스타트업</a>
      </div>
    </div>
  </div>
</section>

<section id="process" class="content-section text-center">
  <div class="row">
    <div class="container">
      <p class="custom-text" style="margin-bottom: 30px"><span>TAB</span> PROCESS</p>
      <%= image_tag('ic_icon_process.png', :style => "width: 87.6%; height: auto; margin-bottom: 20px") %>
      <div class="col-lg-3 col-xs-3">
        <p class="custom-text-content">계획서 작성</p>
        <p class="custom-text-content-small">만들고 싶은 프로젝트를 적어 신청해주세요</p>
      </div>
      <div class="col-lg-3 col-xs-3">
        <p class="custom-text-content">디자이너-개발자 지원</p>
        <p class="custom-text-content-small">1-3일 내에 계획서에 지원한 디자이너 & 개발자와 연결됩니다</p>
      </div>
      <div class="col-lg-3 col-xs-3">
        <p class="custom-text-content">선택 & 계약</p>
        <p class="custom-text-content-small">프로젝트와 맞는 디자이너 & 개발자를 선택해 계약합니다</p>
      </div>
      <div class="col-lg-3 col-xs-3">
        <p class="custom-text-content">프로젝트 진행</p>
        <p class="custom-text-content-small">세상에 없던 프로젝트를 소중한 인연과 함께 만들어가세요!</p>
      </div>
      <!--<%= image_tag('ic_content_process.png', :style => "width:100%; height:auto;") %>-->
      <div class="col-xs-12 text-center">
        <a href="#" class="btn btn-round-rectangle-big page-scroll" style="margin-top: 40px;">
          <p class="custom-text-content" style="font-size: 10pt !important;">도움말</p>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="protfolio" class="content-section text-center">
  <div class="row">
    <div class="container">
      <p class="custom-text"><span>STUDENT</span> PORTFOLIO</p>
    </div>
  </div>
  <table class="portfolio-exmaple">
    <tr>
      <td>
        <a class="" href="" target="_blank"><%= image_tag('ic_icon_ex_1.png', :style => "width: 75%; height: auto;") %></a>
        <p class="custom-text-content">홍보영상(3D 모션그래픽)</p>
      </td>
      <td>
        <a class="" href="" target="_blank"><%= image_tag('ic_icon_ex_2.png', :style => "width: 75%; height: auto;") %></a>
        <p class="custom-text-content">인포그래픽 영상(모션그래픽)</p>
      </td>
      <td>
        <a class="" href="" target="_blank"><%= image_tag('ic_icon_ex_3.png', :style => "width: 75%; height: auto;") %></a>
        <p class="custom-text-content">북 트레일러 영상(모션그래픽)</p>
      </td>
    </tr>
    <tr>
      <td>
        <a class="" href="" target="_blank"><%= image_tag('ic_icon_ex_4.png', :style => "width: 75%; height: auto;") %></a>
        <p class="custom-text-content">뮤직비디오(영상)</p>
      </td>
      <td>
        <a class="" href="" target="_blank"><%= image_tag('ic_icon_ex_5.png', :style => "width: 75%; height: auto;") %></a>
        <p class="custom-text-content">뮤직비디오(영상)</p>
      </td>
      <td>
        <a class="" href="" target="_blank"><%= image_tag('ic_icon_ex_6.png', :style => "width: 75%; height: auto;") %></a>
        <p class="custom-text-content">앨범커버(일러스트, 편집디자인)</p>
      </td>
    </tr>
    <tr>
      <td>
        <a class="" href="" target="_blank"><%= image_tag('ic_icon_ex_7.png', :style => "width: 75%; height: auto;") %></a>
        <p class="custom-text-content">브랜드 디자인(편집디자인)</p>
      </td>
      <td>
        <a class="" href="" target="_blank"><%= image_tag('ic_icon_ex_8.png', :style => "width: 75%; height: auto;") %></a>
        <p class="custom-text-content">광고디자인(편집디자인)</p>
      </td>
      <td>
        <a class="" href="" target="_blank"><%= image_tag('ic_icon_ex_6.png', :style => "width: 75%; height: auto;") %></a>
        <p class="custom-text-content">앨범커버(일러스트, 편집디자인)</p>
      </td>
    </tr>
  </table>
</section>

<section id="apply" class="apply-section">
  <!-- TAB Apply -->
  <div class="row">
    <div class="apply-student col-lg-3 col-md-3 col-xs-1 text-center">
      <p>디자이너 & 개발자</p>
    </div>
    <div class="apply-content col-lg-6 col-md-6 col-xs-10" style="text-align: center">
      <p class="custom-text" style="margin-bottom: 40px"><span>TAB</span> APPLY</p>
      <form class="form-horizontal" action="/write" method="POST">

        <div class="form-group">
          <label for="inputEmail" class="col-sm-2 control-label">이메일 주소</label>
          <div class="col-sm-8">
            <input name="email" type="email" class="form-control" placeholder="yourname@company.com">
          </div>
        </div>

        <div class="form-group">
          <label for="inputName" class="col-sm-2 control-label">프로젝트 이름</label>
          <div class="col-sm-8">
            <input name="name" type="text" class="form-control" placeholder="프로젝트의 이름을 적어주세요">
          </div>
        </div>

        <div class="form-group">
          <label for="inputPrice" class="col-sm-2 control-label">예상 작업비</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input name="price" type="number" class="form-control text-right" id="exampleInputAmount">
              <div class="input-group-addon">원</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputTerm" class="col-sm-2 control-label">예상 기간</label>
          <div class="col-sm-8">
            <select name="term" class="form-control">
              <option>7일 이내</option>
              <option>14일</option>
              <option>1개월</option>
              <option>3개월</option>
              <option>6개월 이상</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="inputTech" class="col-sm-2 control-label">필요 기술</label>
          <div class="col-sm-8">
            <input name="tech" type="text" class="form-control" placeholder="ex) [개발] php, 안드로이드 등 / [디자인] 라이노, 포토샵 등">
          </div>
        </div>

        <div class="form-group">
          <label for="inputDescribe" class="col-sm-2 control-label">프로젝트 설명</label>
          <div class="col-sm-8">
            <textarea name="describe" class="form-control" rows="10"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="inputExamples" class="col-sm-2 control-label">참고 링크</label>
          <div class="col-sm-8">
            <input name="examples" type="text" class="form-control" placeholder="ex) www.apple.com / www.mymusictaste.com">
          </div>
        </div>

        <button type="submit" class="col-sm-2 col-sm-offset-5 send-button" style="border: 0px; margin-top:10px;">신청하기</button>
      </form>
    </div>
    <div class="apply-startup col-lg-3 col-md-3 col-xs-1 text-center">
     <p>스타트업</p>
    </div>
  </div>
</section>

<section id="contact"  class="container content-section text-center">
  <div class="row">
    <p class="custom-text" style="margin-bottom: 80px;"><span>CONTACT</span></p>
    <div class="col-lg-4 contact-margin">
      <p class="custom-text">KAKAO</p>
      <p class="custom-text-content">@Skywrace</p>
    </div>
    <div class="col-lg-4 contact-margin">
      <p class="custom-text">VISIT</p>
      <p class="custom-text-content">경기도 용인시 기흥구 덕영대로 1732</p>
      <p class="custom-text-content">경희대학교 국제캠퍼스</p>
    </div>
    <div class="col-lg-4 contact-margin">
      <p class="custom-text">EMAIL</p>
      <p class="custom-text-content">contact@presstab.co.kr</p>
    </div>
  </div>
</section>

<div class="footer-custom">
  <div class="container">
    <p>서비스 관련 문의 : contact@presstab.co.kr | @kakao : skywrace</p>
    <p>location : 경기도 용인시 기흥구 덕영대로 1732 | 대표 : 원지운 | 정보보호담당자 : 원지운</p>
    <p>ⓒ 2016 Tab, Inc. All rights reserved.</p>
  </div>
</div>

<script>
  $(function(){
    // Remove the # from the hash, as different browsers may or may not include it
    var hash = location.hash.replace('#','');

    if(hash != ''){
      // Show the hash if it's set
      //      alert(hash);

      // Clear the hash in the URL
      location.hash = '';
    }
  });
</script>